@import "_fonts";
@import "_mixins";
@import "_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font;
  font-size: $base-font-size;
  min-width: 320px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: $base-font;

  &:hover {
    cursor: pointer;
  }
}

.section {
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.btn {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #007dc5;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;

  &:hover {
    background: darken(#007dc5, 5%);
  }
}

.modal {
  opacity: 1;
  visibility: visible;
}

@import "icons";

@import "../elements/modal/modal";