.popup.section
  ._wrap.wrap
    ._header Виды деятельности
    ._content
      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 01 - Растениеводство и животноводство, охота и предоставление соответствующих услуг в этих областях
        ._node-list
          ._row
            ._open-menu 
            label
              input(type="checkbox")._input
              ._label
                ._checkbox &#10004;
                | 01.1 - Выращивание однолетних культур
          ._node-list
            ._row
              ._open-menu 
              label
                input(type="checkbox")._input
                ._label
                  ._checkbox &#10004;
                  | 01.11 - Выращивание зерновых (кроме риса), зернобобовых культур и семян масличных культур
            ._node-list
              ._row
                ._open-menu 
                label
                  input(type="checkbox")._input
                  ._label
                    ._checkbox &#10004;
                    | 01.11.1 - Выращивание зерновых культур
              ._node-list
                ._row
                  label
                    input(type="checkbox")._input
                    ._label.-single
                      ._checkbox &#10004;
                      | 01.11.11 - Выращивание пшеницы               
                ._row
                  label
                    input(type="checkbox")._input
                    ._label.-single
                      ._checkbox &#10004;
                      | 01.11.12 - Выращивание ячменя
                ._row
                  label
                    input(type="checkbox")._input
                    ._label.-single
                      ._checkbox &#10004;
                      | 01.11.13 - Выращивание ржи
                ._row
                  label
                    input(type="checkbox")._input
                    ._label.-single
                      ._checkbox &#10004;
                      | 01.11.14 - Выращивание кукурузы
                ._row
                  label
                    input(type="checkbox")._input
                    ._label.-single
                      ._checkbox &#10004;
                      | 01.11.15 - Выращивание овса
                ._row
                  label
                    input(type="checkbox")._input
                    ._label.-single
                      ._checkbox &#10004;
                      | 01.11.16 - Выращивание гречихи
                ._row
                  label
                    input(type="checkbox")._input
                    ._label.-single
                      ._checkbox &#10004;
                      | 01.11.19 - Выращивание прочих зерновых культур
               
              ._row
                label
                  input(type="checkbox")._input
                  ._label.-single
                    ._checkbox &#10004;
                    | 01.11.2 - Выращивание зернобобовых культур
              ._row
                ._open-menu 
                label
                  input(type="checkbox")._input
                  ._label
                    ._checkbox &#10004;
                    | 01.11.3 - Выращивание семян масличных культур                  
            
            ._row
              label
                input(type="checkbox")._input
                ._label.-single
                  ._checkbox &#10004;
                  | 01.12 - Выращивание риса
            ._row
              ._open-menu 
              label
                input(type="checkbox")._input
                ._label
                  ._checkbox &#10004;
                  | 01.13 - Выращивание овощей, бахчевых, корнеплодных и клубнеплодных культур, грибов и трюфелей
            ._row
              label
                input(type="checkbox")._input
                ._label.-single
                  ._checkbox &#10004;
                  | 01.14 - Выращивание сахарного тростника
            ._row
              label
                input(type="checkbox")._input
                ._label.-single
                  ._checkbox &#10004;
                  | 01.15 - Выращивание табака и махорки
            ._row
              ._open-menu 
              label
                input(type="checkbox")._input
                ._label
                  ._checkbox &#10004;
                  | 01.16 - Выращивание волокнистых прядильных культур
            ._row
              ._open-menu 
              label
                input(type="checkbox")._input
                ._label
                  ._checkbox &#10004;
                  | 01.17 - Выращивание прочих однолетних культур
          ._row
            ._open-menu 
            label
              input(type="checkbox")._input
              ._label
                ._checkbox &#10004;
                | 01.2 - Выращивание многолетних культур
          ._row
            ._open-menu 
            label
              input(type="checkbox")._input
              ._label
                ._checkbox &#10004;
                | 01.3 - Выращивание рассады
          ._row
            ._open-menu 
            label
              input(type="checkbox")._input
              ._label
                ._checkbox &#10004;
                | 01.4 - Животноводство
          ._row
            ._open-menu 
            label
              input(type="checkbox")._input
              ._label
                ._checkbox &#10004;
                | 01.5 - Смешанное сельское хозяйство
          ._row
            ._open-menu 
            label
              input(type="checkbox")._input
              ._label
                ._checkbox &#10004;
                | 01.6 - Деятельность вспомогательная в области производства сельскохозяйственных культур и послеуборочной обработки сельхозпродукции
          ._row
            ._open-menu 
            label
              input(type="checkbox")._input
              ._label
                ._checkbox &#10004;
                | 01.7 - Охота, отлов и отстрел диких животных, включая предоставление услуг в этих областях


      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 02 - Лесоводство и лесозаготовки

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 03 - Рыболовство и рыбоводство

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 05 - Добыча угля

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 06 - Добыча сырой нефти и природного газа

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 07 - Добыча металлических руд

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 08 - Добыча прочих полезных ископаемых

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 09 - Предоставление услуг в области добычи полезных ископаемых

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 10 - Производство пищевых продуктов

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 11 - Производство напитков

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 12 - Производство табачных изделий

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 13 - Производство текстильных изделий

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 14 - Производство одежды

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 15 - Производство кожи и изделий из кожи

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 16 - Обработка древесины и производство изделий из дерева и пробки, кроме мебели, производство изделий из соломки и материалов для плетения

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 17 - Производство бумаги и бумажных изделий

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 18 - Деятельность полиграфическая и копирование носителей информации

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 19 - Производство кокса и нефтепродуктов

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 20 - Производство химических веществ и химических продуктов

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 21 - Производство лекарственных средств и материалов, применяемых в медицинских целях
      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 22 - Производство резиновых и пластмассовых изделий

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 23 - Производство прочей неметаллической минеральной продукции

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 24 - Производство металлургическое

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 25 - Производство готовых металлических изделий, кроме машин и оборудования

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 26 - Производство компьютеров, электронных и оптических изделий

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 27 - Производство электрического оборудования

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 28 - Производство машин и оборудования, не включенных в другие группировки

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 29 - Производство автотранспортных средств, прицепов и полуприцепов

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 30 - Производство прочих транспортных средств и оборудования

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 31 - Производство мебели

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 32 - Производство прочих готовых изделий

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 33 - Ремонт и монтаж машин и оборудования

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 35 - Обеспечение электрической энергией, газом и паром; кондиционирование воздуха

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 36 - Забор, очистка и распределение воды

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 37 - Сбор и обработка сточных вод
      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 38 - Сбор, обработка и утилизация отходов; обработка вторичного сырья

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 39 - Предоставление услуг в области ликвидации последствий загрязнений и прочих услуг, связанных с удалением отходов

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 41 - Строительство зданий

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 42 - Строительство инженерных сооружений

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 43 - Работы строительные специализированные

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 45 - Торговля оптовая и розничная автотранспортными средствами и мотоциклами и их ремонт

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 46 - Торговля оптовая, кроме оптовой торговли автотранспортными средствами и мотоциклами

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 47 - Торговля розничная, кроме торговли автотранспортными средствами и мотоциклами

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 49 - Деятельность сухопутного и трубопроводного транспорта

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 50 - Деятельность водного транспорта
      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 51 - Деятельность воздушного и космического транспорта

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 52 - Складское хозяйство и вспомогательная транспортная деятельность

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 53 - Деятельность почтовой связи и курьерская деятельность

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 55 - Деятельность по предоставлению мест для временного проживания

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 56 - Деятельность по предоставлению продуктов питания и напитков

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 58 - Деятельность издательская

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 59 - Производство кинофильмов, видеофильмов и телевизионных программ, издание звукозаписей и нот

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 60 - Деятельность в области телевизионного и радиовещания

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 61 - Деятельность в сфере телекоммуникаций

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 62 - Разработка компьютерного программного обеспечения, консультационные услуги в данной области и другие сопутствующие услуги


      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 63 - Деятельность в области информационных технологий

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 64 - Деятельность по предоставлению финансовых услуг, кроме услуг по страхованию и пенсионному обеспечению

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 65 - Страхование, перестрахование, деятельность негосударственных пенсионных фондов, кроме обязательного социального обеспечения


      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 66 - Деятельность вспомогательная в сфере финансовых услуг и страхования

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 68 - Операции с недвижимым имуществом
      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 69 - Деятельность в области права и бухгалтерского учета

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 70 - Деятельность головных офисов; консультирование по вопросам управления

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 71 - Деятельность в области архитектуры и инженерно-технического проектирования; технических испытаний, исследований и анализа

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 72 - Научные исследования и разработки

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 73 - Деятельность рекламная и исследование конъюнктуры рынка

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 74 - Деятельность профессиональная научная и техническая прочая

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 75 - Деятельность ветеринарная

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 77 - Аренда и лизинг

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 78 - Деятельность по трудоустройству и подбору персонала

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 79 - Деятельность туристических агентств и прочих организаций, предоставляющих услуги в сфере туризма
      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 80 - Деятельность по обеспечению безопасности и проведению расследований

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 81 - Деятельность по обслуживанию зданий и территорий

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 82 - Деятельность административно-хозяйственная, вспомогательная деятельность по обеспечению функционирования организации, деятельность по предоставлению прочих вспомогательных услуг для бизнеса

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 84 - Деятельность органов государственного управления по обеспечению военной безопасности, обязательному социальному обеспечению

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 85 - Образование

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 86 - Деятельность в области здравоохранения

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 87 - Деятельность по уходу с обеспечением проживания

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 88 - Предоставление социальных услуг без обеспечения проживания

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 90 - Деятельность творческая, деятельность в области искусства и организации развлечений

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 91 - Деятельность библиотек, архивов, музеев и прочих объектов культуры

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 92 - Деятельность по организации и проведению азартных игр и заключению пари, по организации и проведению лотерей

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 93 - Деятельность в области спорта, отдыха и развлечений

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 94 - Деятельность общественных организаций

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 95 - Ремонт компьютеров, предметов личного потребления и хозяйственно-бытового назначения

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 96 - Деятельность по предоставлению прочих персональных услуг
      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 97 - Деятельность домашних хозяйств с наемными работниками

      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 98 - Деятельность недифференцированная частных домашних хозяйств по производству товаров и предоставлению услуг для собственного потребления


      ._box
        ._row
          ._open-menu 
          label
            input(type="checkbox")._input
            ._label
              ._checkbox &#10004;
              | 99 - Деятельность экстерриториальных организаций и органов

    ._footer
      button.btn Сбросить
      ._btn-list
        button._btn-list-item.btn Ок
        button._btn-list-item.btn Отмена
        